
<div class="pt-4 mb-2" style="overflow: hidden">
  <div class="row" style="color: var(--light); background-color: var(--indigo)">
    <div class="col">
      <div class="heading-split px-1"><strong>Player</strong></div>
    </div>
    <div class="col text-center">
      <strong>Role</strong>
    </div>
    <div *ngFor="let permission of alliancePermissions" class="col text-center">
      <fa-icon [icon]="permissionNames[permission][0]"></fa-icon>
      <fa-icon [icon]="permissionNames[permission][1]"></fa-icon>
    </div>
  </div>
  <div class="roles roles-members">
    <div *ngFor="let member of alliance.members; let i = index;" class="row align-items-center" style="border-bottom: 1px solid var(--secondary);">
    <div class="col d-flex align-items-center justify-content-between py-2">
        <span>{{ member.name }}</span>
        <div matTooltip="Cant't remove players with master role" [matTooltipDisabled]="member.allianceRole.id !== alliance.masterRoleId">
          <button [disabled]="member.allianceRole.id === alliance.masterRoleId" mat-icon-button color="warn" (click)="removePlayer(member.id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="col text-center">
        <mat-form-field floatLabel="never">
          <mat-select placeholder="Role" [(ngModel)]="member.allianceRole" [compareWith]="compareRoles" (ngModelChange)="updatePlayerRole($event.id, member.id)" required>
            <mat-option *ngFor="let role of alliance.roles" [value]="role">{{ role.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col text-center" *ngFor="let permission of alliancePermissions">
        <mat-checkbox disabled [checked]="member.allianceRole.permissions[permission]"></mat-checkbox>
      </div>
    </div>
  </div>
</div>
