<div class="container pt-3">
  <h1>Register Form</h1>
  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" class="mt-4">
    <div>
      <mat-form-field class="full-size">
        <input matInput
        placeholder="Name"
        type="name"
        name="name"
        [(ngModel)]="registerForm.name"
        required
      >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-size">
          <input matInput
          placeholder="Email"
          type="email"
          name="email"
          [(ngModel)]="registerForm.email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
        >
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-size">
          <input matInput
          placeholder="Password"
          type="password"
          name="password"
          [(ngModel)]="registerForm.password"
          required
        >
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Submit</button>
    <span class="text-danger" *ngIf="registerForm.errors">{{registerForm.errors.errorMessage}}</span>
  </form>
</div>
