<div class="container">
  <h2>Send troops</h2>
  <form #commandForm="ngForm" *ngIf="town.units && worldData.units">
    <div class="d-flex" *ngFor="let unit of worldData.units">
      <i class="unit-icon mr-1" [attr.data-unit]="unit.name"></i>
      <label class="pr-1">{{ unitDetails[unit.name].name }}</label>
      <input type="number" [name]="unit.name" [max]="town.units[unit.name].inside" [(ngModel)]="unitsToSend[unit.name]" min="0" />
      <span class="pl-2">/{{ town.units[unit.name].inside }}</span>
    </div>
    <div>
      <div>Target</div>
      <label>X</label>
      <input type="number" [(ngModel)]="target[0]" min="1" max="999" [ngModelOptions]="{standalone: true}" />
      <label>Y</label>
      <input type="number" [(ngModel)]="target[1]" min="1" max="999" [ngModelOptions]="{standalone: true}" />
    </div>
    <div *ngIf="!town._actionState.movement.inProgress">
      <button type="button" class="btn btn-danger" (click)="sendCommand(false, commandForm)" [disabled]="commandForm.pristine || commandForm.errors">Attack</button>
      <button type="button" class="btn btn-success" (click)="sendCommand(true, commandForm)">Support</button>
      <span *ngIf="commandForm.errors" class="text-danger">{{commandForm.errors.errorMessage}}</span>
      <span *ngIf="sent" class="text-success">Attack successfully sent.</span>
    </div>
  </form>
</div>
