<div class="container">
  <h2>Send troops</h2>
  <form #commandForm="ngForm" *ngIf="town.units && worldData.units" class="command-form">
    <div class="d-flex align-items-center py-1 mb-3" *ngFor="let unit of worldData.units">
      <i class="unit-icon mr-2 mt-2" [attr.data-unit]="unit.name"></i>
      <mat-form-field>
        <input matInput
        type="number"
        [placeholder]="unitDetails[unit.name].name"
        [(ngModel)]="unitsToSend[unit.name]"
        [name]="unit.name"
        [max]="town.units[unit.name].inside"
        min="0">
        <span matSuffix class="command-max-units">/{{town.units[unit.name].inside}}</span>
        <button mat-button *ngIf="unitsToSend[unit.name] != town.units[unit.name].inside" matSuffix mat-icon-button aria-label="Set max" color="primary" (click)="unitsToSend[unit.name] = town.units[unit.name].inside">
          <fa-icon [icon]="['fas', 'sort-amount-up']"></fa-icon>
        </button>
        <button mat-button *ngIf="unitsToSend[unit.name]" matSuffix mat-icon-button aria-label="Set none" color="warn" (click)="unitsToSend[unit.name] = null">
          <fa-icon [icon]="['fas', 'sort-amount-down']"></fa-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mb-2">
      <div>
        <strong>Target</strong>
      </div>
      <mat-form-field>
        <input matInput
        type="number"
        [(ngModel)]="target[0]"
        [max]="999"
        [ngModelOptions]="{standalone: true}"
        min="1">
        <span matPrefix>X&nbsp;</span>
      </mat-form-field>
      <mat-form-field>
        <input matInput
        type="number"
        [(ngModel)]="target[1]"
        [max]="999"
        [ngModelOptions]="{standalone: true}"
        min="1">
        <span matPrefix>Y&nbsp;</span>
      </mat-form-field>
    </div>
    <div *ngIf="!town._actionState.movement.inProgress">
      <button mat-raised-button
        color="warn"
        (click)="sendCommand(false, commandForm)"
        [disabled]="commandForm.errors"
        type="button"
        class="mr-1"
      >Attack</button>
      <button mat-raised-button
        color="accent"
        (click)="sendCommand(true, commandForm)"
        [disabled]="commandForm.errors"
        type="button"
        class="mr-1"
      >Support</button>
      <span *ngIf="commandForm.errors" class="text-danger">{{commandForm.errors.errorMessage}}</span>
      <span *ngIf="sent" class="text-success">Attack successfully sent.</span>
    </div>
  </form>
</div>
