<div>
  <strong>Buildings</strong>
  <div  *ngFor="let building of buildings;" style="margin-bottom: 4px;">
    <span>{{building.name}} - {{building.level}}</span>
    <span *ngIf="building.queued">(+ {{building.queued}})</span>
    <div *ngIf="buildingData[building.name].data[building.next]">
      Upgrade:
      <span>clay {{buildingData[building.name].data[building.next].costs.clay}}</span>
      <span>wood {{buildingData[building.name].data[building.next].costs.wood}}</span>
      <span>iron {{buildingData[building.name].data[building.next].costs.iron}}</span>
      <span>time {{buildingData[building.name].data[building.next].buildTime}}</span>

      <button *ngIf="canUpgrade(building)" (click)="upgrade(building)">Upgrade</button>
    </div>
  </div>
</div>