<div>
  <strong>Buildings</strong>
  <div *ngFor="let building of buildings;" class="py-1">
     <div class="row align-items-center">
      <div class="col-sm-4" style="cursor: pointer;" (click)="building.visible = !building.visible">
        <fa-icon class="pr-1" [icon]="['fas', 'chevron-right']" [rotate]="building.visible ? 90 : 0"></fa-icon>
        <span class="pr-2">{{buildingDetails[building.name].name}} - {{building.level}}</span>
        <span *ngIf="building.queued">(building {{building.queued}})</span>
      </div>
      <div class="col-sm-5 d-flex" *ngIf="building.costs">
        <div class="resource"><div class="resource-icon wood"></div>{{building.costs.wood | number:'1.0-0' }}</div>
        <div class="resource"><div class="resource-icon clay"></div>{{building.costs.clay | number:'1.0-0'}}</div>
        <div class="resource"><div class="resource-icon iron"></div>{{building.costs.iron | number:'1.0-0'}}</div>
        <div>time {{building.buildTime | countdown:'HH:mm:ss'}}</div>
      </div>
      <div class="col-sm-5 d-flex" *ngIf="!building.available">
        <strong class="text-warning">Requires: {{building.requirements[0].item}} - {{building.requirements[0].level}}</strong>
      </div>
      <div class="col-sm-3" *ngIf="building.available">
        <button mat-flat-button color="primary" style="cursor: pointer;" *ngIf="!building.availableIn" (click)="upgrade(building)">Upgrade</button>
        <strong *ngIf="building.availableIn" class="text-warning">Missing resources.</strong>
      </div>
    </div>
    <div class="row my-1" [ngbCollapse]="!building.visible">
      <div class="col">
        <div class="card p-3" *ngIf="buildingDetails[building.name]; let details">
          <div>{{details.description}}</div>
          <div class="row pt-2" *ngIf="details.details">
            <div class="col-md-6">Current level
            {{details.detailText}}:
            {{worldData.buildingMap[building.name].data[building.level][details.details]}}</div>
            <div class="col-md-6">Next level
            {{details.detailText}}:
            {{worldData.buildingMap[building.name].data[building.level+1][details.details]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
