header {
  padding-bottom: 43px;
}
nav {
  padding: 0;
  // min-height: 7vh;
  min-height: 43px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  .nav-item {
    padding: 0;
    margin: 0;
    .nav-link {
      padding: .5rem;
      background-color: rgba(255,255,255,0);
      border-top: 3px solid transparent;
      transition: 0.25s;
      &:hover {
        background-color: rgba(255,255,255,0.5);
      }
      &.active {
        background-color: rgba(255,255,255,1);
        border-top: 3px solid #22ff00;
      }
    }
  }
  .collapse.show .nav-item {
    min-width: 40%;
    text-align: center;
  }
}

.mat-sidenav-container {
  min-height: 100vh;

  .mat-sidenav {
    background-color: white;
    // width: 50%;
  }
}
