<md-sidenav-container class="backdrop-disabled">
  <md-sidenav #sidenavLeft [ngSwitch]="sidenavLeft.comp" class="col-xl-6" mode="over" align="start" opened="false">
    <button md-mini-fab (click)="sidenavLeft.comp = null; sidenavLeft.toggle()">
      <md-icon>&times;</md-icon>
    </button>
    <movements *ngSwitchCase="'movements'"></movements>
    <command *ngSwitchCase="'command'"></command>
  </md-sidenav>
  <md-sidenav #sidenavRight [ngSwitch]="sidenavRight.comp" class="col-xl-6" mode="over" align="end" opened="false">
    <button md-mini-fab (click)="sidenavRight.comp = null; sidenavRight.toggle()">
      <md-icon>&times;</md-icon>
    </button>
    <recruit *ngSwitchCase="'recruit'"></recruit>
    <reports *ngSwitchCase="'reports'" [reports]="reports"></reports>
  </md-sidenav>
  <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isVisible = !isVisible" [attr.aria-expanded]="isVisible">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="!isVisible">
        <ul class="nav navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <a [routerLink]="['./town']" routerLinkActive="active" class="nav-link">
              <i class="fa fa-home" aria-hidden="true"></i> Town
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['./map']" routerLinkActive="active" class="nav-link">
              <i class="fa fa-globe" aria-hidden="true"></i> Map
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="canRecruit" class="nav-link" (click)="sidenavRight.comp = 'recruit'; sidenavRight.toggle()">
              <i class="fa fa-users" aria-hidden="true"></i> Recruit
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" (click)="sidenavLeft.comp = 'movements'; sidenavLeft.toggle()">
              <i class="fa fa-arrows" aria-hidden="true"></i> Movements
            </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" class="nav-link" (click)="sidenavRight.comp = 'reports'; sidenavRight.toggle()">
              <i class="fa fa-flag" aria-hidden="true"></i> Reports
            </a>
          </li>
        </ul>
        <div class="d-flex justify-content-center align-items-center">
          <div class="nav-item">
            <a class="nav-link" [routerLink]="['/']" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
