header {
  padding-bottom: 43px;
}

nav.navbar {
  padding: 0;
  // min-height: 7vh;
  min-height: 43px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  .nav-item {
    padding: 0;
    margin: 0;

    .nav-link {
      padding: .5rem;
      background-color: rgba(255,255,255,0);
      border-bottom: 2px solid transparent;
      transition: 0.25s;

      &:hover {
        background-color: rgba(220,220,220,0.5);
        cursor: pointer;
      }

      &.active {
        color: var(--indigo);
        border-bottom: 2px solid var(--indigo);
      }
    }
  }

  .collapse.show .nav-item {
    min-width: 40%;
    text-align: center;
  }
}

.mat-sidenav-container {
  min-height: 100vh;

  .mat-sidenav {
    background-color: white;
    // width: 50%;
  }
}

.game-chat {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  position: fixed;
  bottom: 0;
  right: 10%;
  z-index: 1;
}
