<nav>
  <h3>Navigation</h3>
  <a [routerLink]="['./town']" routerLinkActive="active">Town</a>
  <a [routerLink]="['./map']" routerLinkActive="active">Map</a>
  <a *ngIf="canRecruit" [routerLink]="[{ outlets: { popup: 'recruit' } }]">Recruit</a>

</nav>

<router-outlet></router-outlet>
<div class="overlay" [@popupState]="popupActive">
  <router-outlet name="popup" (activate)="popupToggle(true)" (deactivate)="popupToggle(false)">
    <div *ngIf="popupActive">
      <a [routerLink]="[{ outlets: { popup: null } }]">Close</a>
    </div>
  </router-outlet>
</div>
