nav {
  padding: 0;
  height: 7vh;
  .nav-item {
    padding: 0;
    margin: 0;
    .nav-link {
      padding: .5rem;
      background-color: rgba(255,255,255,0);
      border-top: 3px solid transparent;
      transition: 0.25s;
      &:hover {
        background-color: rgba(255,255,255,0.5);
      }
      &.active {
        background-color: rgba(255,255,255,1);
        border-top: 3px solid #22ff00;
      }
    }
  }
}

.mat-sidenav-container {
  min-height: 100vh;

  .mat-sidenav {
    background-color: white;
    width: 50%;
  }
}
