<div *ngIf="town">
  <div class="row">
    <buildings class="col-sm-9"></buildings>
    <div class="col-sm-3">
      <resources [resources]="town.resources" [production]="town.production"></resources>
      <units></units>
      <building-queue></building-queue>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <strong>{{ town.name }}</strong>
      <input type="text" placeholder="{{town.name}}" name="town-name" [(ngModel)]="nameChange">
      <button (click)="changeName()">Save</button>
    </div>
  </div>
</div>
