<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-list>
        <mat-list-item *ngFor="let event of alliance.events" [ngSwitch]="event.type" class="mb-1" style="background-color: beige;">
          <ng-container *ngSwitchCase="eventTypes.invitation">
            <ng-template [ngIf]="event.status !== eventStatuses.reject">
                <a href (click)="!!openPlayerProfile.emit(event.targetPlayerId)">{{ event.targetPlayer?.name }}</a>&nbsp;{{ invitationStatus[event.status] }}&nbsp;<a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>
            </ng-template>
            <ng-template [ngIf]="event.status === eventStatuses.reject">
              <a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>&nbsp;{{ invitationStatus[event.status] }}
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="eventTypes.membership">
            <ng-template [ngIf]="event.status !== eventStatuses.remove">
              <a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>&nbsp;{{ membershipStatus[event.status] }}
            </ng-template>
            <ng-template [ngIf]="event.status === eventStatuses.remove">
              <a href (click)="!!openPlayerProfile.emit(event.targetPlayerId)">{{ event.targetPlayer?.name }}</a>&nbsp;{{ membershipStatus[event.status] }}&nbsp;<a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="eventTypes.management">
            <ng-template [ngIf]="event.status === eventStatuses.create">
              <a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>&nbsp;created the alliance
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="eventTypes.roles">
            <ng-template [ngIf]="event.status === eventStatuses.update">
              <a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>&nbsp;updated alliance roles
            </ng-template>
            <ng-template [ngIf]="event.status === eventStatuses.updateMember">
              <a href (click)="!!openPlayerProfile.emit(event.targetPlayerId)">{{ event.targetPlayer?.name }}</a>&nbsp;role was updated by&nbsp;<a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="eventTypes.diplomacy">
            <ng-template [ngIf]="event.originAllianceId !== alliance.id">
              <a href (click)="!!openAllianceProfile.emit(event.originAllianceId)">{{ event.originAlliance?.name }}</a>&nbsp;{{ diplomacySubjectStatus[event.status] }}
            </ng-template>
            <ng-template [ngIf]="event.originAllianceId === alliance.id">
              <a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>&nbsp;{{ diplomacyOriginStatus[event.status] }}&nbsp;<a href (click)="!!openAllianceProfile.emit(event.targetAllianceId)">{{ event.targetAlliance?.name }}</a>
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="eventTypes.profile">
            <ng-template [ngIf]="event.status === eventStatuses.update">
              <a href (click)="!!openPlayerProfile.emit(event.originPlayerId)">{{ event.originPlayer?.name }}</a>&nbsp;updated alliance profile
            </ng-template>
          </ng-container>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col">
      <button *ngIf="role.permissions.editProfile" mat-raised-button color="warn" (click)="destroyAlliance.emit()" class="mt-3">Destroy alliance</button>
      <button *ngIf="role.id !== alliance.masterRoleId" mat-raised-button color="warn" (click)="leaveAlliance.emit()" class="mt-3">Leave alliance</button>
    </div>
  </div>
</div>
