<div class="container-fluid pb-4">
  <h2>Movements</h2>
  <mat-accordion class="mt-3" multi>
    <mat-expansion-panel *ngFor="let queue of queue$ | async; trackBy: trackById">
      <mat-expansion-panel-header>
        <mat-panel-title [ngSwitch]="queue.type" class="align-items-center">
          <div *ngSwitchCase="0">
            <span>{{ queue.targetTownId === town.id ? 'Incoming attack from ' : 'Outgoing attack towards '}}</span>
            <strong *ngIf="(queue.targetTownId === town.id ? queue.originTown : queue.targetTown) as queueTown">{{ queueTown.name }} [{{ queueTown.location }}]</strong>
          </div>
          <div *ngSwitchCase="1">
            <span>{{ queue.targetTownId === town.id ? 'Incoming support from ' : 'Outgoing support towards '}}</span>
            <strong *ngIf="(queue.targetTownId === town.id ? queue.originTown : queue.targetTown) as queueTown">{{ queueTown.name }} [{{ queueTown.location }}]</strong>
          </div>
          <div *ngSwitchCase="2">
            <span>Returning troops from </span>
            <strong *ngIf="queue.originTown as originTown">{{ originTown.name }} [{{ originTown.location }}]</strong>
          </div>
        </mat-panel-title>
        <mat-panel-description class="justify-content-end align-items-center">
          <mat-chip-list>
            <mat-chip [color]="queue.targetTownId === town.id ? 'warn' : 'primary'" selected>{{ queue.targetTownId === town.id ? 'Incoming' : 'Outgoing' }}</mat-chip>
            <mat-chip [color]="queueTypeColors[queue.type]" selected>{{ typeNames[queue.type] }}</mat-chip>
          </mat-chip-list>
          <span class="pl-3">{{ queue.timeLeft | countdown:'HH:mm:ss' }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="row">
          <div class="col d-flex flex-row" *ngFor="let unit of worldData.units">
            <div class="unit-icon" [attr.data-unit]="unit.name"></div>
            <div *ngIf="queue.units">{{ queue.units[unit.name] || 0 }}</div>
            <div *ngIf="!queue.units">?</div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
