<div *ngIf="allianceData$ | async as allianceData" class="p-2">
  <div *ngIf="allianceData.alliance as alliance; else noAlliance">
    <mat-tab-group>
      <mat-tab label="Overview">
        <alliance-overview [alliance]="alliance" [role]="allianceData.role" (leaveAlliance)="leaveAlliance()" (destroyAlliance)="destroyAlliance()" (openAllianceProfile)="openAllianceProfile.emit($event)" (openPlayerProfile)="openPlayerProfile.emit($event)"></alliance-overview>
      </mat-tab>
      <mat-tab label="Profile">
        <alliance-profile [alliance]="alliance" [role]="allianceData.role"></alliance-profile>
      </mat-tab>
      <mat-tab *ngIf="allianceData.role?.permissions.manageAlliance" label="Diplomacy">
        <alliance-diplomacy [alliance]="alliance"></alliance-diplomacy>
      </mat-tab>
      <mat-tab *ngIf="allianceData.role?.permissions.viewInvites" label="Invitations">
        <div class="mb-4">
          <p>Invite players to expand your alliance.</p>
          <div>
            <mat-form-field class="pt-2">
              <input matInput
              type="text"
              placeholder="Player name"
              [(ngModel)]="inviteTarget"
              >
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="createInvite()">Invite</button>
          </div>
        </div>
        <div *ngIf="alliance.invitations.length; else noInvitations">
          <p>Invited players:</p>
          <alliance-invitations [invitations]="alliance.invitations" (cancelInvite)="cancelInvite($event)" isAlliance="true"></alliance-invitations>
        </div>
        <ng-template #noInvitations>
          <p>No pending invitations.</p>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="allianceData.role?.permissions.viewManagement" label="Management">
        <editable-roles [alliance]="alliance" (roleUpdate)="roleUpdate($event)" (roleRemove)="roleRemove($event)"></editable-roles>
        <player-roles [alliance]="alliance" (playerRoleUpdate)="updatePlayerRole($event)" (playerRemove)="removeMember($event)" class="mt-4"></player-roles>
      </mat-tab>
      <!-- <mat-tab label="Forum">
        <forum [alliance]="alliance" [permissions]="allianceData.role.permissions"></forum>
      </mat-tab> -->
    </mat-tab-group>
  </div>
  <ng-template #noAlliance>
    <div *ngIf="invitations$ | async as invitations">
      <p>You are currently not a part of any alliance.</p>
      <div *ngIf="invitations.length; else noInvites">
        <p>Here are your current invitations:</p>
        <alliance-invitations [invitations]="invitations" (acceptInvite)="acceptInvite($event)" (rejectInvite)="rejectInvite($event)"></alliance-invitations>
      </div>
      <ng-template #noInvites>You don't hanve any invitations.</ng-template>
    </div>
    <mat-divider class="my-2"></mat-divider>
    <div>
      <p>Create your own alliance:</p>
      <mat-form-field class="pt-2">
        <input matInput
        type="text"
        placeholder="Alliance name"
        [(ngModel)]="allianceName"
        >
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="createAlliance()" [disabled]="allianceName.length < 4">Create</button>
    </div>
  </ng-template>
</div>
