<div class="map-container" (window:resize)="onResize($event)">
  <canvas #map (click)="mapClick($event)" (mousedown)="startDrag($event)" (mouseup)="stopDrag()" (mouseout)="stopDrag()" (mousewheel)="onZoom($event)" [width]="mapSettings.size.x" [height]="mapSettings.size.y">
    <div>Loading map data</div>
  </canvas>
  <div *ngIf="hoverData" class="town-hover" [style.transform]="position.hover">
    <div><i class="fa fa-home"></i><span>{{hoverData.name}}</span></div>
    <div><i class="fa fa-user-circle-o"></i><span>{{hoverData.owner || '-' }}</span></div>
    <div><i class="fa fa-exchange"></i><span>{{hoverData.distance}}</span></div>
  </div>
  <div *ngIf="selected" class="town-options" [style.transform]="position.click" [style.width.px]="mapSettings.width" [style.height.px]="mapSettings.height" style="visibility: hidden; overflow: hidden;">
    <div style="width: 100%; height: 100%; visibility: visible; transform: skewY(-30deg) rotate(60deg);">
      <!-- <a class="map-icon attack" routerLinkActive="active" [routerLink]="['../', { outlets: { popupLeft: 'command' } }]"> -->
      <!-- <a class="map-icon attack" routerLinkActive="active" [routerLink]="[{ outlets: { popupLeft: 'command' } }]"> -->
      <!-- <a class="map-icon attack" routerLinkActive="active" [routerLink]="['./', { outlets: { popupLeft: 'command' } }]"> -->
      <a  class="map-icon attack" (click)="toggleSidenav('command', hoverData.location)">
        A
      </a>
      <a class="map-icon village">V</a>
      <a class="map-icon message">M</a>
      <!-- <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div> -->
    </div>
<!--     <svg class="svg-hex" [attr.width]="mapSettings.width" [attr.height]="mapSettings.height">
      <g>
        <polygon [attr.points]="mapSettings.width/2+',0 '+mapSettings.width+','+mapSettings.hexHeight+' '+mapSettings.width/2+','+mapSettings.height/2" />
        <text class="svg-icon" [attr.x]="mapSettings.radius*1.5" [attr.y]="mapSettings.hexHeight">&#xf040;</text>
      </g>
      <g>
        <polygon [attr.points]="mapSettings.width/2+','+mapSettings.height/2+' '+mapSettings.width+','+mapSettings.hexHeight+' '+mapSettings.width+','+mapSettings.aHeight" />
        <text class="svg-icon" [attr.x]="mapSettings.radius*1.5" [attr.y]="mapSettings.height/2">&#xf003;</text>
      </g>
      <g>
        <polygon [attr.points]="mapSettings.width/2+','+mapSettings.height/2+' '+mapSettings.width+','+mapSettings.aHeight+' '+mapSettings.width/2+','+mapSettings.height" />
        <text class="svg-icon" [attr.x]="mapSettings.radius*1.5" [attr.y]="mapSettings.aHeight">&#xf2bc;</text>
      </g>
      <g>
        <polygon [attr.points]="mapSettings.width/2+','+mapSettings.height/2+' '+mapSettings.width/2+','+mapSettings.height+' 0,'+mapSettings.aHeight" />
        <text class="svg-icon" [attr.x]="mapSettings.radius/2" [attr.y]="mapSettings.aHeight">&#xf041;</text>
      </g>
      <g>
        <polygon [attr.points]="mapSettings.width/2+','+mapSettings.height/2+' 0,'+mapSettings.aHeight+' 0,'+mapSettings.hexHeight" />
      </g>
      <g>
        <polygon [attr.points]="mapSettings.width/2+','+mapSettings.height/2+' 0,'+mapSettings.hexHeight+' '+mapSettings.width/2+',0'" />
      </g>
    </svg>
<!--     <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div>
    <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div>
    <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div>
    <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div>
    <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div>
    <div [style.border-left-width.px]="mapSettings.radius" [style.border-top-width.px]="mapSettings.hexHeight" [style.border-bottom-width.px]="mapSettings.hexHeight"></div> -->
  </div>
</div>
<div class="overlay">
  <router-outlet name="popup">
    <div *ngIf="popupActive">
      <a [routerLink]="[{ outlets: { popup: null } }]">Close</a>
    </div>
  </router-outlet>
</div>
