<div class="container-fluid pb-4">
  <h2>Recruitment</h2>
  <div class="pb-1 text-warning" *ngIf="town.population.available <= 0">Max population reached, upgrade your farm to recruit new troops.</div>
  <div *ngFor="let unit of worldData?.units" class="py-1">
    <div class="row align-items-center">
      <div class="col-sm-6 d-flex" style="cursor: pointer;" (click)="unit.visible = !unit.visible">
        <fa-icon class="fa pr-1 align-items-center d-flex" [icon]="['fas', 'chevron-right']" [rotate]="unit.visible ? 90 : 0"></fa-icon>
        <i class="unit-icon mr-1" [attr.data-unit]="unit.name"></i>
        <span>{{unitDetails[unit.name].name}}</span>
      </div>
      <div class="col-sm-6 d-flex">
        <div class="resource">
          <div class="resource-icon wood"></div>
          {{unit.costs.wood | number:'1.0-0'}}
        </div>
        <div class="resource">
          <div class="resource-icon clay"></div>
          {{unit.costs.clay | number:'1.0-0'}}
        </div>
        <div class="resource">
          <div class="resource-icon iron"></div>
          {{unit.costs.iron | number:'1.0-0'}}
        </div>
        <div>{{unit.recruitTime * town.recruitmentModifier | countdown:'HH:mm:ss'}}</div>
      </div>
      <div class="col-6">
        <div *ngIf="canRecruit(unit)" class="py-2">
          <input type="number" [ngModel]="recruitment.units[unit.name]" min="0" [max]="calculateMax(unit) + recruitment.units[unit.name]" name="{{unit.name}}" (ngModelChange)="unitAmountUpdate($event, unit.name)"> / {{calculateMax(unit)}} ... {{unit.farmSpace}}
          <button type="button" class="btn btn-primary btn-sm" (click)="recruit(recruitment.units[unit.name], unit.name)">recruit</button>
        </div>
      </div>
    </div>
    <div class="row my-1" [ngbCollapse]="!unit.visible">
      <div class="col">
        <div class="card p-3" *ngIf="unitDetails[unit.name]">
          <div>{{ unitDetails[unit.name].description }}</div>
          <div class="row">
            <div *ngIf="unit.requirements" class="col-xl-12">
              Recruitment requirements:
              <span *ngFor="let req of unit.requirements">{{ req.item }} level {{ req.level }}</span>
            </div>
            <div class="col-xl-12">Farm space: {{ worldData.unitMap[unit.name].farmSpace }}</div>
            <div class="col-xl-6">Attack: {{ worldData.unitMap[unit.name].combat.attack }} {{ worldData.unitMap[unit.name].attackType }}</div>
            <div class="col-xl-6">
              Defense: {{ worldData.unitMap[unit.name].combat.defense.general }} general, {{ worldData.unitMap[unit.name].combat.defense.cavalry }} cavalry, {{ worldData.unitMap[unit.name].combat.defense.archer }} archer</div>
            <div class="col-xl-6">Haul: {{ worldData.unitMap[unit.name].haul }}</div>
            <div class="col-xl-6">Speed per field: {{ worldData.unitMap[unit.name].speed }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="town.unitQueues.length">
    <h3>Ongoing recruiting</h3>
    <div class="row">
      <div class="col d-flex">Unit</div>
      <div class="col d-flex">Amount</div>
      <div class="col d-flex">End time</div>
      <div class="col d-flex">Time left</div>
    </div>
    <unit-queue [unitQueue]="town.unitQueues"></unit-queue>
  </div>
</div>
