<div *ngFor="let unit of unitData" class="flex">
  <div class="resource">time - {{ unit.recruitTime }}</div>
  <div>{{unit.name}}</div>
  <div class="resource"><div class="resource-icon wood"></div>{{unit.costs.wood | number:'1.0-0'}}</div>
  <div class="resource"><div class="resource-icon clay"></div>{{unit.costs.clay | number:'1.0-0'}}</div>
  <div class="resource"><div class="resource-icon iron"></div>{{unit.costs.iron | number:'1.0-0'}}</div>
  <div *ngIf="canRecruit(unit)">
     <input type="number" (ngModel)="recruitment.units[unit.name]" min="0" [max]="calculateMax(unit.costs) + recruitment.units[unit.name]" name="{{unit.name}}" (ngModelChange)="unitAmountUpdate($event, unit.name)"> / {{ calculateMax(unit.costs) }}
    <button type="button" (click)="recruit(recruitment.units[unit.name], unit.name)">recruit</button>
  </div>
</div>
