<div class="container-fluid pb-4">
  <h2>Movements</h2>
  <div *ngIf="incoming.length">
    <h3>Incoming movements</h3>
    <div *ngFor="let movement of incoming">
      <div class="row">
        <div class="col">{{ movement.MovementOriginId }}</div>
        <div class="col">{{ movement.timeLeft | countdown:'HH:mm:ss' }}</div>
        <div class="col">
          {{ movement.type }}
          <i class="fa fa-angle-double-left"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="outgoing.length">
    <h3>Your commands</h3>
    <div *ngFor="let movement of outgoing">
      <div class="row">
        <div class="col">
          <i class="fa" [ngClass]="{ 'fa-caret-right': !movement.isVisible, 'fa-caret-down': movement.isVisible }" (click)="movement.isVisible = !movement.isVisible"></i>
          {{ movement.MovementDestinationId }}
          </div>
        <div class="col">{{ movement.timeLeft | countdown:'HH:mm:ss' }}</div>
        <div class="col">
          {{ movement.type }}
          <i class="fa" [ngClass]="{ 'fa-angle-double-right': movement.type !== 'returning', 'fa-angle-double-left': movement.type === 'returning' }" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row" [hidden]="!movement.isVisible">
        <div class="col d-flex flex-row" *ngFor="let unit of unitTypes">
          <div class="unit-icon" [attr.data-unit]="unit.name"></div>
          <div>{{ movement.units[unit.name] || 0 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
