body {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.resource {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 8px;
  .resource-icon {
    width: 24px;
    height: 24px;
    margin-right: 2px;
    background-image: url(/assets/images/resources.png);
    background-size: cover;
    background-repeat: no-repeat;
    &.wood {
      background-position: 0 0;
    }
    &.clay {
      background-position: 0 50%;
    }
    &.iron {
      background-position: 0 100%;
    }
  }
}
