@import "~bootstrap/scss/bootstrap";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$icon-size: 24px;

body {
  background-color: var(--light);
}


.resource {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 8px;
  .resource-icon {
    width: $icon-size;
    height: $icon-size;
    margin-right: 2px;
    background-image: url(./assets/images/resources.png);
    background-size: cover;
    background-repeat: no-repeat;
    &.wood {
      background-position: 0 0;
    }
    &.clay {
      background-position: 0 50%;
    }
    &.iron {
      background-position: 0 100%;
    }
  }
}

.unit-icon {
  background-image: url(./assets/images/units.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: $icon-size;
  height: $icon-size;

  &[data-unit="axe"] {
    background-position: 0 0;
  }

  &[data-unit="sword"] {
    background-position: 0 (-$icon-size);
  }

  &[data-unit="mace"] {
    background-position: 0 (-$icon-size * 2);
  }

  &[data-unit="archer"] {
    background-position: 0 (-$icon-size * 3);
  }

  &[data-unit="lightCavalry"] {
    background-position: 0 (-$icon-size * 4);
  }

  &[data-unit="scout"] {
    background-position: 0 (-$icon-size * 5);
  }

  &[data-unit="heavyCavalry"] {
    background-position: 0 (-$icon-size * 6);
  }

  &[data-unit="mountedArcher"] {
    background-position: 0 (-$icon-size * 7);
  }

  &[data-unit="trebuchet"] {
    background-position: 0 (-$icon-size * 8);
  }

  &[data-unit="noble"] {
    background-position: 0 (-$icon-size * 9);
  }

  &[data-unit="commander"] {
    background-position: 0 (-$icon-size * 10);
  }
}

.backdrop-disabled .mat-sidenav-backdrop.mat-sidenav-shown {
  visibility: hidden;
}

game-container .mat-sidenav-content {
  overflow: inherit;
}

.mat-snack-bar-container.snackbar-event {
  width: 100vw;
  max-width: 100%;

  &.snackbar-success {
    background-color: var(--success);
  }

  &.snackbar-fail {
    background-color: var(--danger);
  }
}

// TODO: consider default width for mobile,
.mat-form-field-infix {
  width: auto !important;
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
  color: inherit;
}

mat-form-field:not(.full-size) {
  // Remove extra padding from material input
  &.mat-form-field-appearance-legacy {
    margin-bottom: -1.25em;
  }

  // Remove extra top space for hidden placeholders
  &.mat-form-field-hide-placeholder .mat-form-field-infix {
    border-top: 0;
  }

}
mat-form-field.full-size {
  &, .mat-form-field-infix {
    width: 100%;
  }
}

.mat-list {
  .mat-list-item {
    &.list-between .mat-list-item-content {
      justify-content: space-between;
    }

    &.list-p0 .mat-list-item-content {
      padding: 0;
    }
  }
}
