<header>
  <div class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Strat-ego</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li *ngIf="!!user && user.role === 'admin'" class="nav-item">
        <a class="nav-link" [routerLink]="['/manage']">Manage</a>
      </li>
    </ul>

    <div class="float-sm-right">
      <div *ngIf="!!user">
        <span>Welcome <strong>{{ user.name }}</strong></span>
        <a class="nav-link" [routerLink]="['/']" (click)="logout()">Logout</a>
      </div>
      <div *ngIf="!user">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>
</header>

<div>
  <h2>Available worlds</h2>
  <ul>
    <li *ngFor="let world of worlds">
      <span>{{world.name}}</span>
      <span *ngIf="user">
        <a [routerLink]="['/world', world.name]">
        Play
        </a>
      </span>
    </li>
  </ul>
</div>

<div style="position: absolute; bottom: 1vh; right: 0; padding-right: 2vw">Client version: <a target="_blank" href="https://github.com/Klemensas/strat-ego-client/blob/master/CHANGELOG.md">0.1.0</a></div>