.roadmap {
  & > mat-expansion-panel > mat-expansion-panel-header {
    text-transform: uppercase;

    mat-panel-title {
      font-size: 1.3rem;
    }
  }

  mat-expansion-panel mat-expansion-panel {
    margin: 0 -24px;
  }

  mat-panel-title {
    font-weight: 700;
    font-size: 1.1rem;
  }

  mat-panel-description {
    flex-grow: 0;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
  }

  /deep/ .mat-content {
    align-items: center;
  }

  .roadmap-complete {
    mat-panel-title,
    mat-list-item {
      color: white;
    }

    color: white;
    background-color: var(--green);
  }

  .roadmap-upcoming {
    background-color: var(--yellow);
  }

  .roadmap-future {
    mat-panel-title,
    mat-list-item {
      color: white;
    }

    color: white;
    background-color: var(--orange);
  }
}
