<div class="container-fluid">
  <div *ngIf="!alliance">Loading...</div>
  <div *ngIf="alliance">
    <div class="row mt-3">
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="m-0">{{ alliance.name }}</h2>
          <button mat-flat-button color="accent" type="button" *ngIf="role?.permissions.editProfile" (click)="editProfile()">Edit profile</button>
        </div>
        <hr/>
        <div *ngIf="alliance.avatarUrl" class="text-center">
          <img class="img-fluid" [src]="alliance.avatarUrl">
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div>Members</div>
            <div>Score</div>
            <div>Founded</div>
          </div>
          <div class="col-6 text-right">
            <div>{{ alliance.members.length }}</div>
            <div>{{ allianceScore }}</div>
            <div>{{ alliance.createdAt | date:'short' }}</div>
          </div>
        </div>
        <hr/>
        <p *ngIf="alliance.description">{{ alliance.description }}</p>
      </div>
      <div class="col-6">
        <h2 class="m-0">Members</h2>
        <hr/>
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index">{{i + 1}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a href (click)="!!openPlayerProfile.emit(row.id)">{{row.name}}</a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="score">
            <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.score}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
